---
layout: home
title: Jon Cram
---

<div class="hero-unit introduction">

    <aside>
        {% include joncram.html %}
    </aside>

    <div class="text">
        <h1>{{ site.webignition.title }}</h1>
    </div>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

</div>            

<div class="row">
    <div class="span8 products">
        <h2>Products of mine</h2>

        <div class="row products">
            <div class="span4">
                <h3>
                    <a href="http://hostingreborn.com/">Hosting Reborn Pay As You Go Hosting</a>
                </h3>    
                <p>
                    Pay as you go web hosting with free registration, no monthly/annual contracts and no limits.
                </p>
                <a href="http://hostingreborn.com/"><img src="http://hostingreborn.com/images/tour/hostingaccount-small.png" width="370" height="249" /></a>
            </div>
            <div class="span4">
                <h3>
                    <a href="http://simplytestable.com/">Simply Testable Automated Web Testing</a>                    
                </h3> 
                <p>
                    Automated professional front-end web testing. Takes the pain out of trivial front-end testing.
                </p>
                <a href="http://simplytestable.com/"><img src="http://placehold.it/370x249" width="370" height="249" /></a>
            </div>
        </div>

    </div>
    <div class="span4">
        <h2>Recent ramblings</h2>

        {% for post in site.posts offset: 0 limit: 3 %}
        <div class="post clickable-area">
            <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
            <p class="post-date">{{ post.date | date_to_string }}</p>
            <p>{{ post.content | strip_html | truncatewords: 35 }} <a href="{{ post.url }}/">Read more</a></p>
        </div>
        {% endfor %} 

        <a href="/articles/" class="btn">View full blog &raquo;</a>

    </div>
</div>