<img src="http://www.gravatar.com/avatar/28d3858fd164c191d05954e114adeb9a?s=96" />

<ul class="listless">
    <li><i class="icon icon-envelope"></i> <a href="mailto:{{ site.webignition.contact.email }}">{{ site.webignition.contact.email }}</a></li>
    <li><i class="icon icon-phone"></i> {{site.webignition.contact.phone}}</li>
    <li><i class="icon icon-github"></i> <a href="https://github.com/{{site.code_github_user}}">github.com/{{site.code_github_user}}</a></li>            
    <li><i class="icon icon-linkedin-sign"></i> <a href="http://www.linkedin.com/in/joncram">linkedin.com/in/joncram</a></li>
</ul> 

<div class="clearfix"></div>