<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="/vendor/twitter-bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/vendor/twitter-bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/vendor/font-awesome/latest/css/font-awesome.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
        
        {% include assets/js/default.html %}
    </head>
    <body id="{% include page/id %}" class="home">
        {% include header/navigation.html %}
        
        <div class="container">
            {{ content }}            
        </div>
    </body>
</html>
